[Desktop Entry]
Name=Minecraft Bedrock Launcher
Comment=A Minecraft: Bedrock Edition (earlier: Pocket Edition launcher)
Exec=mcpelauncher-ui-qt
Icon=mcpelauncher-ui-qt
Type=Application
Categories=Game;
Terminal=false
