[Desktop Entry]
Name=Minecraft Bedrock Launcher
Comment=A Minecraft: Bedrock Edition (earlier: Pocket Edition launcher)
Exec=mcpelauncher-ui-qt %U
Icon=mcpelauncher-ui-qt
MimeType=application/zip
Type=Application
Categories=Game;
Terminal=false
